@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
  font-family: 'Pretendard';
  src: url(/assets/fonts/Pretendard-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: 'Pretendard';
  src: url(/assets/fonts/Pretendard-ExtraLight.otf);
  font-weight: 200;
}
@font-face {
  font-family: 'Pretendard';
  src: url(/assets/fonts/Pretendard-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: 'Pretendard';
  src: url(/assets/fonts/Pretendard-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url(/assets/fonts/Pretendard-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: 'Pretendard';
  src: url(/assets/fonts/Pretendard-SemiBold.otf);
  font-weight: 600;
}
@font-face {
  font-family: 'Pretendard';
  src: url(/assets/fonts/Pretendard-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: 'Pretendard';
  src: url(/assets/fonts/Pretendard-ExtraBold.otf);
  font-weight: 800;
}
@font-face {
  font-family: 'Pretendard';
  src: url(/assets/fonts/Pretendard-Black.otf);
  font-weight: 900;
}

:root {
  --primary: #4dd1ba;
  --secondary: #ff7853;
  --accent: #9f4a7b;
  --neutral-dark: #17051a;
  --neutral-light: #ffffff;
}

/* GLOBAL STYLES */
body {
  background: linear-gradient(180deg, var(--neutral-dark) 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard', system-ui, -apple-system, BlinkMacSystemFont, 'Roboto', "Segoe UI", Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}
i.bi {
  color: var(--neutral-light);
  font-size: 1.4rem;
}
h1 {
  color: var(--neutral-light) !important;
  font-family: 'Pretendard', sans-serif;
  font-size: 2.25rem;
  font-weight: 800 !important;
  line-height: 1.2rem;
}
h6 {
  color: var(--primary) !important;
  font-family: 'Pretendard', sans-serif;
  font-size: 0.625rem;
  font-weight: 400 !important;
  letter-spacing: 0.3rem;
  line-height: 1.2rem;
}
p, ul, li {
  color: var(--neutral-light) !important;
  font-family: 'Pretendard', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  word-break: break-word;
  overflow-wrap: break-word;
}

.content-container {
  background-image: url(/assets/images/TopSectionOnly.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: var(--neutral-light);
  border-radius: 2.5rem 2.5rem 0 0;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  box-sizing: border-box;
  flex: 1 1 auto;
  height: 97vh;
  margin: 3vh auto 0;
  overflow: hidden;
  width: 85vw;
}

/* HEADER STYLES */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 5rem 3rem 3rem;
}
.header-logo img {
  height: 2rem;
}
.header-logo:hover,
.header-logo:active {
  transform: rotate(2deg);
  transition: transform 0.3s ease-in-out;
}
.header-socials {
  & a {
    text-decoration: none;
  }
  & svg {
    height: 1.875rem;
  }
}

/* COMING SOON PAGE STYLES */
.coming-soon {
  margin-left: 8.1875rem;
}
.gradient-text {
  background-color: var(--neutral-light);
  background-image: linear-gradient(#ffffff 0%, #000000 100%);
  background-size: 100%;
  background-repeat: repeat;
  font-weight: 300;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: fade-in 2s ease-in;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.description {
  max-width: 450px;
  line-height: 1.2;
}
.sp-field input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  line-height: 1.2;
  padding-left: 1rem;
}

