<footer class="container switcher p-5">
  <div class="stack">
    <div class="footer-logo">
      <a href="/">
        <img
          src="/assets/images/LogoWithTextTransparent.png"
          alt="Beyond Demise Logo"
          title="Beyond Demise®"
        />
      </a>
    </div>
    <p>
      Secure your private and important information afer you have passed.
      <br />Keep your loved ones in the know, <br />beyond your demise.
    </p>
  </div>
  <div class="footer-links">
    <ul>
      <li>About</li>
      <li>Trust</li>
      <li>Demo</li>
    </ul>
    <ul>
      <li>Terms</li>
      <li>Support</li>
      <li>Contact</li>
    </ul>
  </div>
</footer>
